.pattern{
    background-image: url(../img/pattern.png);
    background-color:#4EA0FF ;
    height: 180px;
width: 100%;
    }
.pattern img{
    height: 280px;
    width: 300px;
}
.title{
    height: 100px;
    text-align:left;
    font-size: 65px;
    width: 75%;
}
.sub-title{
    height: 10px;
  font-size: 20px;
  color: #838383;
}
.date{
    color: #838383;
    font-size: 10px;
}
.img-tim{
max-width: 100%;
height: 100%;
}
.deskphoto1{
    font-size:10px;
}
.deskphoto2{
    font-size: 10px;
}
.text1{
    text-align: left;
    width: 80%;
}
table{
    border-collapse:collapse;
    width: 80%;
}
thead{
    background-color:#20A9E5;
    color:#E6F6FC;
    width: 80%;
    border: 1px solid #ddd;
    padding: 8px;
}
tbody{
    width: 80%;
    border: 1px solid #ddd;
  padding: 8px;
}
.line1{
    background-color: #B1E5F2;
}
.lorem{
    width: 50%;
}
.line3{
    background-color: #B1E5F2;

}
th{
    text-align: left;
}
.text2{
    text-align: left;
    width: 80%;
}